[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesSurvival"]
	path = BayesSurvival
	url = https://github.com/cran/BayesSurvival
[submodule "horseshoe"]
	path = horseshoe
	url = https://github.com/cran/horseshoe
[submodule "mergedblocks"]
	path = mergedblocks
	url = https://github.com/cran/mergedblocks
